<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>controller.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductByCategoryServlet</servlet-name>
        <servlet-class>controller.ProductByCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductManageServlet</servlet-name>
        <servlet-class>controller.ProductManageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductServlet</servlet-name>
        <servlet-class>controller.DeleteProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProductServlet</servlet-name>
        <servlet-class>controller.UpdateProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserProfileServlet</servlet-name>
        <servlet-class>controller.UserProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfileServlet</servlet-name>
        <servlet-class>controller.UpdateProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-class>controller.ChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductServlet</servlet-name>
        <servlet-class>controller.ProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddFeedbackServlet</servlet-name>
        <servlet-class>controller.AddFeedbackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SellerRegisterServlet</servlet-name>
        <servlet-class>controller.SellerRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductToCartServlet</servlet-name>
        <servlet-class>controller.AddProductToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessServlet</servlet-name>
        <servlet-class>controller.ProcessServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutServlet</servlet-name>
        <servlet-class>controller.CheckoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPassServlet</servlet-name>
        <servlet-class>controller.ForgotPassServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProduct</servlet-name>
        <servlet-class>controller.AddProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>controller.AdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderServlet</servlet-name>
        <servlet-class>controller.OrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductManageByAdminServlet</servlet-name>
        <servlet-class>controller.ProductManageByAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductAdmin</servlet-name>
        <servlet-class>controller.AddProductAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProductAdminServlet</servlet-name>
        <servlet-class>controller.UpdateProductAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountManageAdminServlet</servlet-name>
        <servlet-class>controller.AccountManageAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAccountAdminServlet</servlet-name>
        <servlet-class>controller.AddAccountAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAccountAdminServlet</servlet-name>
        <servlet-class>controller.UpdateAccountAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WeeklyStatisticsServlet</servlet-name>
        <servlet-class>controller.WeeklyStatisticsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatsByMonthOfYearServlet</servlet-name>
        <servlet-class>controller.StatsByMonthOfYearServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatsByMonthServlet</servlet-name>
        <servlet-class>controller.StatsByMonthServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TopProductServlet</servlet-name>
        <servlet-class>controller.TopProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TopSellerServlet</servlet-name>
        <servlet-class>controller.TopSellerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductByCategoryServlet</servlet-name>
        <url-pattern>/productbycategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductManageServlet</servlet-name>
        <url-pattern>/productmanage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductServlet</servlet-name>
        <url-pattern>/deleteproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProductServlet</servlet-name>
        <url-pattern>/updateproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserProfileServlet</servlet-name>
        <url-pattern>/userprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfileServlet</servlet-name>
        <url-pattern>/updateprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/changepassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductServlet</servlet-name>
        <url-pattern>/product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddFeedbackServlet</servlet-name>
        <url-pattern>/addfeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SellerRegisterServlet</servlet-name>
        <url-pattern>/sellerregister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductToCartServlet</servlet-name>
        <url-pattern>/addtocart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessServlet</servlet-name>
        <url-pattern>/process</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutServlet</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPassServlet</servlet-name>
        <url-pattern>/forgotpass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProduct</servlet-name>
        <url-pattern>/addproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderServlet</servlet-name>
        <url-pattern>/order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductManageByAdminServlet</servlet-name>
        <url-pattern>/productmanageadmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductAdmin</servlet-name>
        <url-pattern>/addproductadmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProductAdminServlet</servlet-name>
        <url-pattern>/updateproductadmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountManageAdminServlet</servlet-name>
        <url-pattern>/accountmanageadmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAccountAdminServlet</servlet-name>
        <url-pattern>/addaccountadmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAccountAdminServlet</servlet-name>
        <url-pattern>/updateaccountadmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WeeklyStatisticsServlet</servlet-name>
        <url-pattern>/weeklystatisticsservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatsByMonthOfYearServlet</servlet-name>
        <url-pattern>/statsbymonthofyear</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatsByMonthServlet</servlet-name>
        <url-pattern>/statsbymonth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TopProductServlet</servlet-name>
        <url-pattern>/topproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TopSellerServlet</servlet-name>
        <url-pattern>/topsellers</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
